@model IEnumerable<tuto.Models.Inventory>
@{
    ViewBag.Title = "Search2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>


@using (Html.BeginForm("Search2", "Inventory", FormMethod.Get))
{
    <p>
        Board Name: <input type="text" name="id1">
        NE Name: <input type="text" name="id2">
        Board Type: <input type="text" name="id3">
        SN(serial Number): <input type="text" name="id4">
        PN(BOM code): <input type="text" name="id5">
        <input type="submit" value="Filter" />
    </p>
}

<h2>Total Records: @Model.Count()</h2>

<div class="table-responsive col-md-12" id="divajaxCall">
    <form action="" method="post">
        <div class="row">
            <div style="text-align:center; padding:0 0 0 0">
                <button type="submit" value="ExportToExcel" name="action">
                    <i class="far fa-file-excel"></i> Export To Excel
                </button>

            </div>
        </div>
        <div class="row" style="text-align:center; padding : 5px 5px 5px 5px"></div>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BoardName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NEName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BoardType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ManufacturerData)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @Html.Partial("~/Views/Inventory/InventoryList.cshtml")
                    }
                </tbody>
            </table>
        </div>


        <div class="divfooter">
        </div>
    </form>
</div>

<div id="divHide"></div>
@section scripts{
    <script src="~/Scripts/lazyLoading.js"></script>
    <script type="text/javascript">
            $(function () {
                $("div#loading").hide();
                $("#divajaxCall").css("border", "1px solid gray");
                $("#divajaxCall").css("padding", "10px 5px 5px 5px");
                $("#divajaxCall").css("border-radius", "10px");
            });
            var ajaxCallUrl = '@Url.RouteUrl("InventoryDataList")';

            $(window).scroll(scrollHandler);
    </script>
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/CustomStyle.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/00267cf40d.js" crossorigin="anonymous"></script>





